:root {
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    --primary-color: rgb(120, 184, 145);
    --dark-color: rgb(13, 22, 13);
    --light-color: rgb(241, 248, 241);
    --shadow-color: rgba(62, 66, 64, 0.692);

    --square-aspect: 1;
    --rectangle-aspect: 2;

    --z-index-on-top: 2;
    --z-index-challenger: 1;

    --mask-size: 900px;

    --nav-height: 100px;
    --logo-height: 80px;
    --button-height: calc(var(--nav-height) / 3.5);
    --border-radius: 4px;

    --nav-aside-width: 80%;

    --spacing: 8px;
    --spacing-x2: calc(var(--spacing) * 2);
    --spacing-x3: calc(var(--spacing) * 3);
    --spacing-x4: calc(var(--spacing) * 4);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: var(--font-family);

    margin: 0;
}

/* NAVBAR*/
nav {
    background-color: var(--primary-color);

    min-height: var(--nav-height);
    padding: var(--spacing);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    background-color: var(--light-color);

    height: var(--logo-height);
    aspect-ratio: var(--square-aspect);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.menu {
    color: var(--light-color);

    height: var(--button-height);
    aspect-ratio: var(--rectangle-aspect);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: 0.2s;
    text-decoration: none;
}

a.links {
    color: var(--light-color);
    text-decoration: none;

    padding: var(--spacing);

    transition: 0.2s;
}

.menu:hover,
a.links:hover {
    background-color: var(--light-color);
    color: var(--primary-color);

    border-radius: var(--border-radius);

    transition: 0.2s;
}

.aside_links {
    background-color: var(--primary-color);

    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: var(--z-index-on-top);

    position: absolute;
    top: 0;
    left: 0;

    transition: ease-in-out 1s;
    transform: translate(-100%, 0);
}

.mask {
    background-color: var(--shadow-color);

    height: 100%;
    width: var(--mask-size);

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;

    transform: translate(-100%, 0);
    z-index: var(--z-index-challenger);
}

.nav_links:target #mask {
    width: 150%;
    transform: translate(0, 0);
}

.nav_links:target .aside_links {
    transform: translate(0, 0);
}


/* MAIN */
h1,
h2 {
    padding-inline: var(--spacing);
}


h2:first-of-type {
    padding-block: var(--spacing-x2);
}


main p {
    color: var(--dark-color);

    padding-inline: var(--spacing);
}


/* MEDIA QUERIES */
@media screen and (min-width:480px) {

    .menu,
    .mask {
        display: none;
    }

    .aside_links {
        background-color: var(--primary-color);

        width: initial;
        height: initial;
        gap: var(--spacing);

        display: flex;
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;

        position: initial;
        z-index: initial;

        transition: initial;
        transform: initial;
    }
}